h1 {
    color: #000000;
    font-family: "Lucida Console", Courier, monospace;
    padding: 25px;
    font-size: 30px;
}

.container {
    background: #F2EBD3;
}

body {
    background: #F2EBD3;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

